<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required by bootstrap -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
    </head>

    <body>
        {% if error %}
            <h3 class='text-center'>
                Error: {{ error }}
           </h3>
        {% elif og_word %}
            <h3 class='text-center'>
                Word: {{ og_word }}
                <br>
                {% for w in steals %}
                    {{ w }}
                    </br>
                {% endfor %}
            </h3>
        {% else %}
            <form method="post" action="{% url 'home' %}">
                <label for="word">Word to steal: </label>
                <input id="word" type="text" name="word">
                {% csrf_token %}
                <input type="submit" value="Get steals">
            </form>
        {% endif %}
    </body>
</html>